@import url('https://fonts.googleapis.com/css?family=Dosis');

.container h1 {font-family: 'Dosis', sans-serif !important}
#title-span {
    background: orange;
}
.bg-blue {
    min-height: 700px;
    background: linear-gradient(to right, rgba(44,126,204,0.9),rgba(44,126,204,0.9)), url('https://images.pexels.com/photos/433267/pexels-photo-433267.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center;
    background-size: cover;
    background
    
}
.bg-white {
    min-height: 400px;
    background: #f5f5f5; 
    color: #A0A6A3;
}
.clip-path-first {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 77%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 77%);
}
